:root {
  --black: rgba(0, 0, 0, 1);
  --turtle-green: rgba(43, 62, 17, 1);
  --green-pea: rgba(44, 92, 63, 1);
  --scarpa-flow: rgba(75, 85, 99, 1);
  --mobster: rgba(127, 127, 137, 1);
  --peridot: rgba(149, 181, 75, 1);
  --winter-wizard: rgba(162, 210, 255, 1);
  --star-dust: rgba(163, 158, 158, 1);
  --mexican-red: rgba(165, 42, 42, 1);
  --gallery: rgba(235, 235, 240, 1);
  --wild-sand: rgba(243, 244, 246, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxs: 10px;
  --font-size-s: 9px;
  --font-size-l: 20px;
  --font-size-xl: 36.2px;
  --font-size-xxl: 60px;
  --font-size-m2: 11px;
  --font-size-l2: 12px;
  --font-size-xl2: 16px;

  --font-family-inter: "Inter";
  --font-family-inter-extrabold: "Inter-ExtraBold";
  --font-family-inter-medium: "Inter-Medium";
  --font-family-pacifico: "Pacifico";
  --font-family-pacifico-regular: "Pacifico-Regular";
  --font-family-poppins: "Poppins";
  --font-family-poppins-light: "Poppins-Light";
  --font-family-poppins-regular: "Poppins-Regular";
  --font-family-poppins-semibold: "Poppins-SemiBold";
  --font-family-work_sans: "Work Sans";
  --font-family-work_sans-bold: "Work Sans-Bold";
  --font-family-work_sans-medium: "Work Sans-Medium";
}

.poppins-regular-normal-black-11px {
  color: var(--black);
  font-family: var(--font-family-poppins-regular);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.poppins-light-black-11px {
  color: var(--black);
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-m2);
  font-weight: 300;
  font-style: normal;
}
.worksans-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  font-style: normal;
}
.worksans-semi-bold-green-pea-24px {
  color: var(--green-pea);
  font-family: var(--font-family-work_sans);
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
}
.poppins-light-star-dust-9px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins-light);
  font-size: 9px;
  font-weight: 300;
  font-style: normal;
}
.poppins-normal-black-11px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.poppins-normal-star-dust-11px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.worksans-normal-turtle-green-16px {
  color: var(--turtle-green);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  font-style: normal;
}
.poppins-semi-bold-black-12px {
  color: var(--black);
  font-family: var(--font-family-poppins-semibold);
  font-size: var(--font-size-l2);
  font-weight: 600;
  font-style: normal;
}
.worksans-semi-bold-mexican-red-20px {
  color: var(--mexican-red);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}
.worksans-bold-turtle-green-16px {
  color: var(--turtle-green);
  font-family: var(--font-family-work_sans-bold);
  font-size: var(--font-size-xl2);
  font-weight: 700;
  font-style: normal;
}
.poppins-semi-bold-black-12px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l2);
  font-weight: 600;
  font-style: normal;
}
.worksans-normal-scarpa-flow-14px {
  color: var(--scarpa-flow);
  font-family: var(--font-family-work_sans);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
.worksans-semi-bold-green-pea-36px {
  color: var(--green-pea);
  font-family: var(--font-family-work_sans);
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
}
.worksans-semi-bold-green-pea-12px {
  color: var(--green-pea);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l2);
  font-weight: 600;
  font-style: normal;
}
.inter-normal-mobster-10-1px {
  color: var(--mobster);
  font-family: var(--font-family-inter);
  font-size: 10.055866241455078px;
  font-weight: 400;
  font-style: normal;
}
.worksans-semi-bold-mexican-red-36px {
  color: var(--mexican-red);
  font-family: var(--font-family-work_sans);
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
}
.worksans-normal-scarpa-flow-8px {
  color: var(--scarpa-flow);
  font-family: var(--font-family-work_sans);
  font-size: 8px;
  font-weight: 400;
  font-style: normal;
}
.worksans-normal-green-pea-12px {
  color: var(--green-pea);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l2);
  font-weight: 400;
  font-style: normal;
}
.poppins-light-star-dust-9px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 300;
  font-style: normal;
}
.worksans-medium-mexican-red-16px {
  color: var(--mexican-red);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl2);
  font-weight: 500;
  font-style: normal;
}
.poppins-light-black-11px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-weight: 300;
  font-style: normal;
}
.worksans-semi-bold-green-pea-20px {
  color: var(--green-pea);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}
.worksans-normal-green-pea-20px {
  color: var(--green-pea);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.worksans-medium-mexican-red-12px {
  color: var(--mexican-red);
  font-family: var(--font-family-work_sans-medium);
  font-size: var(--font-size-l2);
  font-weight: 500;
  font-style: normal;
}
.worksans-bold-turtle-green-16px {
  color: var(--turtle-green);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl2);
  font-weight: 700;
  font-style: normal;
}
.poppins-regular-normal-star-dust-11px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins-regular);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.inter-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-xl2);
  font-weight: 500;
  font-style: normal;
}
.inter-normal-scarpa-flow-12px {
  color: var(--scarpa-flow);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 400;
  font-style: normal;
}
.worksans-normal-green-pea-10px {
  color: var(--green-pea);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  font-style: normal;
}
.worksans-normal-scarpa-flow-16px {
  color: var(--scarpa-flow);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  font-style: normal;
}
.worksans-medium-mexican-red-16px {
  color: var(--mexican-red);
  font-family: var(--font-family-work_sans-medium);
  font-size: var(--font-size-xl2);
  font-weight: 500;
  font-style: normal;
}
.worksans-semi-bold-green-pea-10px {
  color: var(--green-pea);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxs);
  font-weight: 600;
  font-style: normal;
}
.worksans-medium-mexican-red-12px {
  color: var(--mexican-red);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l2);
  font-weight: 500;
  font-style: normal;
}
.inter-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl2);
  font-weight: 500;
  font-style: normal;
}
